#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* background-color: #f0f0f0; */
  border: 1px solid #4b4b4b;

  .preview-container {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .empty-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  .input-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #777676;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .preview-textarea {
      width: 100%;
      height: 50%;
      border: none;
      outline: none;
      padding: 15px 20px 25px 20px;
      box-sizing: border-box;
      resize: none;
      scrollbar-width: none;
      border-radius: 10px 0 0 10px;
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
    }
  
    .generate-button {
      height: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 6px;
      padding: 20px;
      border-radius: 0 10px 10px 0;

      span {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
      }
    }
  }
}

.toast-container {
  color: red !important;
  width: 100% !important;
  background-color: #000000 !important;
}

.error-container {
  height: 50px;
  width: 100%;
  color: #ff0000 !important;
  background-color: #000000 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.component-container{
  max-width: 1200px;
  max-height: 520px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}